@import '../../pages/forgot-password-page/forgot-password-page.component.scss';

:host{
  width: 100%; 
}

#ts-form {
  display: flex;
  flex-direction: column;

  > div {
      display: flex;
      flex-direction: column;
  }
}