<div class="row">
    <div class="col d-flex justify-content-between">
        <div class="d-flex w-100">
            <button (click)="back()" class="back d-flex align-items-center" type="button">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <mat-form-field appearance="standard" class="search-field" color="accent">
                <mat-label>Pesquisar por nome ou usuário</mat-label>
                <input matInput placeholder="Pesquisar por nome ou usuário">
            </mat-form-field>
        </div>
        <div class="d-flex align-items-center">
            <app-user-filter></app-user-filter>
            <button mat-flat-button color="accent" (click)="add()" type="button">
                Adicionar
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let e"> {{ e.id }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let e"> {{ e.name }} </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Usuário </th>
                <td mat-cell *matCellDef="let e"> {{ e.username }} </td>
            </ng-container>

            <ng-container matColumnDef="ceap">
                <th mat-header-cell *matHeaderCellDef> CEAP </th>
                <td mat-cell *matCellDef="let e"> {{ e.ceap.nome }} </td>
            </ng-container>

            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef> Grupo </th>
                <td mat-cell *matCellDef="let e"> {{ e.group.title }} </td>
            </ng-container>

            <ng-container matColumnDef="options" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let e">
                    <button mat-icon-button color="primary" (click)="show(e.id)" class="center" type="button">
                        <mat-icon class="edit">edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="user-row" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]=" pageSize" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"
            *ngIf="!isLoading" [length]="totalSize" (page)="handlePage($event)" [pageIndex]="currentPage">
        </mat-paginator>
        <div class="spinner-container" *ngIf="isLoading">
            <mat-spinner color="primary" [diameter]="40"></mat-spinner>
        </div>
    </div>
</div>