<form id="password-form" [formGroup]="passwordForm" #formDirective="ngForm" (ngSubmit)="submit(formDirective)" >
  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" color="accent" hideRequiredMarker=true>
        <mat-label>Senha atual</mat-label>
        <input matInput type="password" placeholder="Senha atual" formControlName="old_password" required>
        <mat-error *ngIf="passwordForm.controls.old_password?.invalid">
          {{ this.getMessage(this.passwordForm.controls.old_password?.errors) }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" color="accent" hideRequiredMarker=true>
        <mat-label>Senha nova</mat-label>
        <input matInput type="password" placeholder="Senha nova" formControlName="new_password" required>
        <mat-error *ngIf="passwordForm.controls.new_password?.invalid">
          {{ this.getMessage(this.passwordForm.controls.new_password?.errors) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="standard" color="accent" hideRequiredMarker=true>
        <mat-label>Confirme a nova senha</mat-label>
        <input matInput type="password" placeholder="Confirme a nova senha" formControlName="password_confirmation"
          required>
        <mat-error *ngIf="passwordForm.controls.password_confirmation?.invalid">
          {{ this.getMessage(this.passwordForm.controls.password_confirmation?.errors) }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button mat-flat-button [disabled]="passwordForm.invalid || passwordForm.pending || isLoading" color="accent"
        type="submit">
        Salvar
      </button>
    </div>
  </div>
</form>