@import '../../../../colors.scss';

// 1. Left red container
.logo {
    width: 200px;
    margin-bottom: 50px;
}

.left-container {
    background-color: $red;
}

.right-container {
    background-color: white;
}

.alert-error-field {
    color: $dark-blue;
    font-size: 14px;
    margin: 5px 0 0 20px
}

input {
    background-color: white;
    color: $dark-blue;
    font-size: 16px;
    border: none;
    font-weight: $font-light;
    border-radius: 30px;
    padding: 13px 18px;
}

a {
    font-weight: 900;
    color: white;
}

form > div:not(:last-of-type) {
    margin-bottom: 25px;
}

i {
    color: white;
    margin: 0 0 25px 10px;
}

button {
    width: 100%;
    background-color: $dark-blue;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    border: 0;
    border-radius: 40px;
    padding: 15px 0;
    margin-top: 50px;

    &:disabled{
        background-color: $light-gray;
    }

    &:hover:not(:disabled){
        cursor: pointer;
        background-color: $dark-blue-hover;
    }
}

// Right container

.draw {
    width: 460px;
}

.copyright {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 14px;
}