Recuperação de Senha - PCVI
    
Foi solicitado uma recuperação de senha para o e-mail {{ email }}, se você não foi o autor da solicitação favor desconsiderar.

Para continuar com a recuperação de senha utilize o código {{ token }} ou utilize o link {{ link }}.

Este é um e-mail de envio automático, favor não responder!
Atenciosamente, equipe do Centro de Estudos de História da América Latina (CEHAL - PUC-SP).