@import '../../../../colors.scss';

.header {
    padding: 30px 0 50px;

    .header-button {
        padding: 0;
        height: 24px;
        width: 24px;
        border: 0;
        background-color: transparent;
    }
    
    .header-icon {
        color: $dark-blue;
    }

    h1 {
        color: $dark-blue;
        margin: 0;
        line-height: 1;
        font-size: 16px;
        padding-top: 6px;
        font-weight: $font-book;
    }
}